@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url(download.png);
    width: 100%;
    background-size: cover;
    height: 50px;
}

/* .border is used in many time */
.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.address-fist {
    color: #cccccc;
    margin-left: 15px;
    font-size: 0.9rem;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* feaching to address- fist */
p2 {
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700;
}

/* box 3 */
.nav-search {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: rgb(235, 201, 12);
    width: 620px;
    height: 30px;
    border-radius: 4px;
    border: none;
}

.search-select {
    background-color: #f3f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input {
    /* border:none; */
    border: none;
    width: 100%;
    font-size: 1rem;
}

.secrch-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* box 4 return and order's  */
span {
    font-size: 0.7rem;
}

.nav-secound {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover {
    border: 1px solid rgb(236, 197, 21);
    /* border:border-box; */
}

/* box 6 for cart */
.nav-card i {
    font-size: 24px;
}

.nav-card {
    font-weight: 700;
    font-size: 0.9rem;
}

/* panal styling */
.panal {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panal-ops p {
    display: inline;
    margin-left: 10px;
}

.panal-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panal-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.panal-ops p:hover {
    font-weight: 600;
}

.prime-color {
    color: gold;
}

/* move to hero section  */
.hero-section{
    height: 350px;
    background-image: url(hero-section.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-msg{
    background-color:rgb(238, 234, 234);
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   width:90%;
    font-weight: 550;
    margin-bottom: 50px;
    border-radius: 4px;
    opacity: 0.5;
}
.hero-msg a{
    font-size: 0.8rem;
    color:#007185;
}
.hero-msg:hover{
    background-color:#ffffff;
}
/* box's for shoping section */
/* this will apply in all box */
.box{
    /* border:2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
  margin-top: 5px;
}
.shoping-section{
    display: flex;
    justify-content:space-evenly;
background-color:#cff3ec;
flex-wrap: wrap;
}
/* style in box1,2,3,4,5 */


.shoping-section p{
    color:#007185;
    font-size: 0.8rem;
    opacity: 0.7;
}
.box1-img{
    background-size: contain;
    background-repeat:no-repeat;
    height: 300px;
    margin: 0px 10px 0px 10px;

}
.box-contant{
    margin:15px;
}
.foot-panal1{
    background-color: #37475a;
    color:#ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.8;
}
footer{
    margin-top: 5px;
}
.foot-panal2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: center;  
    justify-content: space-evenly;
    line-height: 25px;
    border-bottom: 0.1px solid white;

}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #dddddd;
}
ul p{
    font-weight: 700;
}
ul{
    margin-top: 10px;
}
/* .foot-panal3{ */
    /* background-image: url(download.png); */
    /* background-size: contain; */
    /* height: 40px; */
    /* background-repeat: no-repeat; */
    /* background-color: #222f3d; */
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

/* } */
.foot-panal4{
    display: flex;
    justify-content: center;
margin-right: 2px;
    background-color: #222f3d;
    color: #dddddd;

}
.copy-right{
    display: flex;
    justify-content: center;
    background-color: #222f3d;
    color: #dddddd;

}
.foot-panal4 a:hover{
text-decoration: underline;
}